@charset "UTF-8";
/* CSS Document */

body {
	background-color: black;
}

h1{
	color: white;
}

h1.font1 {
	color: white;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}

h4 {
	color: white;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}

#wrap1 > div {
    float: left;
    text-align: center;
}

#wrap1::after {
    content: "";
    display: block;
    clear: both;
}

div.a{
	width: 50%;
	height: 500px;
	outline: auto;
	outline-width: 5px;
	outline-color: aqua;
}

div.b{
	width: 50%;
	height: 500px;
	outline: auto;
	outline-width: 5px;
	outline-color: red;
}

#wrap2 > div {
    float: left;
    text-align: center;
}

#wrap2::after {
    content: "";
    display: block;
    clear: both;
}

div.c{
	width: 100%;
	height: 100px;
	outline: auto;
	outline-width: 5px;
	outline-color: aqua;
}
